!! Colors !!

!! Basics !!
*background: #212121
*foreground: #D2C5BC

!! Black !!
*.color0: #777777
*.color8: #777777

!! Red !!
*.color1: #a19488
*.color9: #333333

!! Green !!
*.color2: #88a194
*.color10: #88a194

!! Yellow !!
*.color3: #95a188
*.color11: #95a188

!! Blue !!
*.color4: #9488a1
*.color12: #5e5666

!! Magenta !!
*.color5: #a18895
*.color13: #a19488

!! Cyan !!
*.color6: #8895a1
*.color14: #8895a1

!! White !!
*.color7: #d9d9d9
*.color15: #d9d9d9

URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.font: 		xft:Ubuntu Mono:size=13
URxvt.scrollBar:	false
URxvt.internalBorder:   5
URxvt.transparent:      false
URxvt.shading:          10

!! Extensions !!
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#C4A000

!! url-select !!
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true

!! keyboard-select: !!
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! resize-font !!
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up

!! Matcher !!
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1
