* {
  accent:           #AB9888;
  background:       #17182199;
  background-light: #affbdbff;
  background-light-alpha: #d0c7c011;
  background-focus: #f2f2f215;
  foreground:       #8fdbbbff;
  foreground-list:  #121212;
  on:               #44ad4d;
  off:              #e34039;
}
